#忽略上传的文件夹
**/node_modules/**
**/logs/**

#忽略上传的文件
**/**.js.map
**/CONTRIBUTING.md
**/.DS_Store
**/**custom.json
**/npm-debug.log
**/yarn-error.log
**/.prettierrc
**/.gitignore
**/bugatti.ts
**/nodemon.json
**/tsconfig.json
**/tslint.json
**/tslint.json
**/yarn.lock


#IDE
**/*.iml